body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.901), rgba(255, 255, 255, 0.655)), url(assets/background.jpg);
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to right, #023047, #02304776);
    color: #fff;
    border-radius: 15px;
}

.logo {
    font-size: 24px;
    color: #ffb703;
}

#span-logo {
    display :inline-block;
    margin-bottom: 6px;
    margin-left: 10px;
}

.menu {
    display: flex;
    gap: 20px;
    align-content: center;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #8ecae6;
    border-radius: 5px;
}

.menu a:not(focus) {
    border-radius: 5px;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
}

.search-box input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border: none;
    width: 230px;
    margin: 5px;
}

.search-box input[type="text"]:focus {
    outline: none;
}

.search-box button{
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    width: 65px;
    background-color: #fb8500;
    color: #fff;
}

#search-btn:hover {
    background-color: #ffb703;
}

#clear-btn:hover {
    background-color: #ffb703;
}

section {
    display: inline-block;
    color: #023047;
    text-align: justify;
    margin-top: 2%;
    margin-left: 20px;
    width: 45%;
    padding: 0px 15px 1px 15px;
    background: linear-gradient(to right, #ffffffca, #ececec92);
    border-radius: 40px;
}

.title-big {
    font-size: 40px;
}

.section-normal {
    font-size: 23px;
}

#div-result {
    display:inline-block;
    height:  40px;
    border-radius: 20px;
    margin-left: 40px;
    position: absolute;
    top: 14%;
    width: 480px;
    height: 480px;
    padding: 10px;
    color: #023047;
    
}

footer {
    position: fixed;
    bottom: 0%;
    left: 0;
    right: 0;
    background-color: #219ebc;
    width: 100%;
    background: linear-gradient(to right, #219dbcbb, #219dbc7b);
}

footer div img {
    display: inline;
    padding: 10px 0px 5px 20px;
}

.btn-normal {
    display: block;
    color: #fff;
    background-color: #fb8500;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    font-weight: bold;
    margin: 20px;
    position: relative;
    left: 20% ;
}

.btn-normal:hover {
    background-color: #ffb703;
}

.our-team {
    font-size: 14px;
    display: inline-block;
    margin-left: 130px;
    width: 400px;
    height: 365px;
    position: fixed;
    color: #023047;
    background: linear-gradient(to left, #ffffffbe, #e6e6e6);
    border-radius: 40px;
}

#id-01 {
    position: absolute; 
    bottom: 10%; 
    left: 9%;
}

#id-02 {
    position: absolute; 
    bottom: 10%; 
    left: 35%;
}

#id-03 {
    position: absolute; 
    bottom: 10%; 
    left: 65%;
}

#name {
    border-radius: 5px;
    border-color: #fb8500;
    border-style: solid;
    width: 300px;
    margin: 10px 0px 20px 10px;
}

#email {
    border-radius: 5px;
    border-color: #fb8500;
    border-style: solid;
    width: 300px;
    margin: 10px 0px 20px 10px;
}

#msg {
    border-radius: 5px;
    border-color: #fb8500;
    border-style: solid;
    border-width: 2px;
    width: 500px;
    margin: 10px 0px 20px 10px;
    height: 150px;
}

